

<div id="content_l">
<%= render :partial => "list" %>

<br /><br />

<% if params[:id].blank? %>
	<h2>Nytt kurs</h2>
	<% form_for :camp, :url => camps_path do |f| -%>
	<%= render_error_messages @camp%>
	<ul class="form_layout">	
		<%= render( :partial => "form", :locals => {:f => f})%>
		<li><label>&nbsp;</label><%= f.submit('Lagre',:class => 'submit') %></li>
	</ul>	
	<% end -%>
<% else -%>
	<h2>Oppdater Kurs</h2>
	
	<% form_for(:camp, @camp, :url => {:action => "index", :id => @camp} ) do |f| -%>
	<%= f.error_messages %>
	<ul class="form_layout">	
		<%= render(:partial => 'form', :locals => {:f => f})%>
		<li><label>&nbsp;</label><%= f.submit('oppdater',:class => 'submit')%></li>
	</ul>
	<% end -%>
<% end -%>	

</div>

<div id="content_r">
	<%= render :partial => "single" %>

</div>