<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="title" content="<%= @app_name %>: <%= @page_title %>"/>
  <meta name="keywords" content="<%= @meta_key %>" /> 
  <meta name="description" content="<%= @meta_des %>" /> 
  <%= auto_discovery_link_tag(:rss, {:controller => "public", :action => "blogg", :title => "Teater|camp Blogg"}) %>
  <title><%= @app_name %>: <%= @page_title %></title>
  <%= stylesheet_link_tag @css %>
  <%= javascript_include_tag :defaults	%>
</head>
<body>	
<div id="header">
	<div id="header_wrapper"> 
		<%if logged_in?%>
		<div id="logged_in">
			<p style="font-family:courier new; color:white; font-size:12px">Hei <%= current_user.first_name %>! Du er innlogget.</p> 
				<span style="font-family:courier new; color:white; font-size:15px"><%= link_to "Logg ut","/logout" %> | 
				<%= link_to( "Til CMS", view_cms_path) %></span>
		</div>		
			<%end%>
		<div id="tabsH">
		<%= public_nested Page.roots %>	
			<% unless Post.first(:conditions => "status = 'Offentlig'").nil? %>
			<% if action_name.to_s != "blogg" && action_name.to_s != "view_post" && action_name.to_s != "tag" && action_name.to_s != "category"%>
			<li><%= link_to "<span>Blogg</span>", view_blogg_path %></li>
			<%else%>
				<li><span>Blogg</span></li>
				<%end%>
			<% end %>	
			<% unless Camp.first.nil? %>
			<% if action_name.to_s != "camps" && controller_name.to_s != "registrations" %>
			<li><%= link_to "<span>Kurs</span>", view_camps_path %></li>
			<%else%>
				<li><span>Kurs</span></li>
				<%end%>
			<% end %>	
			</div>
	</div>
</div>
<div id="content">
	<div id="content_wrapper">
	<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, "_message"], :id => "notice_#{key}" %>
    <% content_tag :script, :type => "text/javascript" do -%>
        new Effect.Fade('notice_<%= key %>', { duration:5 });
    <% end %>
<% end %>	
		<%= yield  %>
		<div style="clear:both;"></div>
	</div>
</div>
<!-- start footer -->
<div id="footer">
	<div id="footer_wrapper">
		<div class="boks">	
		</div>
		<div class="boks">
		</div>
		<div class="boks">	
		</div>
</div>
</body>
</html>
